@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
--background: 210.0 40.0% 98.0%;
    --foreground: 210.0 40.0% 10.0%;
    --card: 210.0 40.0% 100.0%;
    --card-foreground: 210.0 40.0% 10.0%;
    --popover: 210.0 40.0% 100.0%;
    --popover-foreground: 210.0 40.0% 10.0%;
    --primary: 238.7 83.5% 66.7%;
    --primary-foreground: 238.7 83.5% 10.0%;
    --secondary: 210.0 40.0% 94.5%;
    --secondary-foreground: 210.0 40.0% 10.0%;
    --muted: 210.0 40.0% 94.5%;
    --muted-foreground: 210.0 40.0% 45.5%;
    --accent: 234.5 89.5% 73.9%;
    --accent-foreground: 234.5 89.5% 10.0%;
    --border: 210.0 40.0% 89.8%;
    --input: 210.0 40.0% 89.8%;
    --ring: 238.7 83.5% 66.7%;
 
    --radius: 0.5rem;



    --chart-1: 231 48% 48%;
    --chart-2: 261 44% 63%;
    --chart-3: 220 70% 50%;
    --chart-4: 160 60% 45%;
    --chart-5: 30 80% 55%;
  }
 
  .dark {
--background: 210.0 40.0% 9.8%;
    --foreground: 210.0 40.0% 98.0%;
    --card: 210.0 40.0% 9.8%;
    --card-foreground: 210.0 40.0% 98.0%;
    --popover: 210.0 40.0% 9.8%;
    --popover-foreground: 210.0 40.0% 98.0%;
    --primary: 238.7 83.5% 66.7%;
    --primary-foreground: 238.7 83.5% 10.0%;
    --secondary: 210.0 40.0% 17.5%;
    --secondary-foreground: 210.0 40.0% 98.0%;
    --muted: 210.0 40.0% 17.5%;
    --muted-foreground: 210.0 40.0% 62.7%;
    --accent: 234.5 89.5% 73.9%;
    --accent-foreground: 234.5 89.5% 10.0%;
    --border: 210.0 40.0% 17.5%;
    --input: 210.0 40.0% 17.5%;
    --ring: 238.7 83.5% 66.7%;



    --chart-1: 231 48% 58%;
    --chart-2: 261 44% 73%;
    --chart-3: 220 70% 50%;
    --chart-4: 160 60% 45%;
    --chart-5: 30 80% 55%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
