@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
--background: 0.0 0.0% 7.1%;
    --foreground: 0.0 0.0% 100.0%;
    --card: 0.0 0.0% 5.1%;
    --card-foreground: 0.0 0.0% 100.0%;
    --popover: 0.0 0.0% 5.1%;
    --popover-foreground: 0.0 0.0% 100.0%;
    --primary: 45.9 64.6% 52.4%;
    --primary-foreground: 0.0 0.0% 0.0%;
    --secondary: 0.0 0.0% 13.3%;
    --secondary-foreground: 0.0 0.0% 98.0%;
    --muted: 0.0 0.0% 13.3%;
    --muted-foreground: 0.0 0.0% 62.7%;
    --accent: 0.0 0.0% 29.0%;
    --accent-foreground: 0.0 0.0% 100.0%;
    --border: 0.0 0.0% 19.4%;
    --input: 0.0 0.0% 19.4%;
    --ring: 45.9 64.6% 52.4%;















    --radius: 0.5rem;
    --chart-1: 231 48% 48%;
    --chart-2: 261 44% 63%;
    --chart-3: 220 70% 50%;
    --chart-4: 160 60% 45%;
    --chart-5: 30 80% 55%;
  }
 
  .dark {
--background: 0.0 0.0% 7.1%;
    --foreground: 0.0 0.0% 100.0%;
    --card: 0.0 0.0% 5.1%;
    --card-foreground: 0.0 0.0% 100.0%;
    --popover: 0.0 0.0% 5.1%;
    --popover-foreground: 0.0 0.0% 100.0%;
    --primary: 45.9 64.6% 52.4%;
    --primary-foreground: 0.0 0.0% 0.0%;
    --secondary: 0.0 0.0% 13.3%;
    --secondary-foreground: 0.0 0.0% 98.0%;
    --muted: 0.0 0.0% 13.3%;
    --muted-foreground: 0.0 0.0% 62.7%;
    --accent: 0.0 0.0% 29.0%;
    --accent-foreground: 0.0 0.0% 100.0%;
    --border: 0.0 0.0% 19.4%;
    --input: 0.0 0.0% 19.4%;
    --ring: 45.9 64.6% 52.4%;















    --chart-1: 231 48% 58%;
    --chart-2: 261 44% 73%;
    --chart-3: 220 70% 50%;
    --chart-4: 160 60% 45%;
    --chart-5: 30 80% 55%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
